<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SIPRI - Análisis{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>

<body>

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

<main class="py-4">
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
</main>

{% block footer %}
{% include 'footer.html.twig' %}
{% endblock %}
</body>


</body>
</html>
