<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SIPRI - Análisis{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body class="d-flex h-100">

<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% block header %}{% include 'header.html.twig' %}{% endblock %}
    <main class="px-3">
        {% block body %}{% endblock %}
    </main>
    {% block footer %}{% include 'footer.html.twig' %}{% endblock %}
</div>


</body>
</html>
