<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}Analizador SIPRI{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>

<body>

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

<main>
    {% block main_content %}
    <div class="container-fluid py-4">
        {% block body %}{% endblock %}
    </div>
    {% endblock %}
</main>

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
</body>


</html>
