{% extends 'base.html.twig' %}

{% block title %}Preguntas frecuentes{% endblock %}

{% block body %}

    <div class="container">

        <h2>Preguntas frecuentes</h2>

        <div class="accordion" id="preguntas">


            <div class="accordion-item">
                <h2 class="accordion-header" id="q01JZ7VCMQEWAFJ4TCF9CCAFXAP">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#a01JZ7VCMQEWAFJ4TCF9CCAFXAP" aria-expanded="true"
                            aria-controls="a01JZ7VCMQEWAFJ4TCF9CCAFXAP">
                        <strong>¿Es oficial y completamente fiable la información que se muestra en esta
                            página?</strong>
                    </button>
                </h2>
                <div id="a01JZ7VCMQEWAFJ4TCF9CCAFXAP" class="accordion-collapse collapse show"
                     aria-labelledby="q01JZ7VCMQEWAFJ4TCF9CCAFXAP"
                     data-bs-parent="#preguntas">
                    <div class="accordion-body">
                        <strong>No</strong>. El único lugar oficial para las convocatorias son las resoluciones
                        publicadas
                        periódicamente en <a href="https://www.juntadeandalucia.es/educacion/sipri/inicio/">la web de
                            SIPRI</a> la Consejería de Desarrollo Educativo y Formación Profesional de la Junta de
                        Andalucía.
                        <br>
                        Los datos que aquí se muestran pueden tener errores, puesto que el procesamiento de los datos se
                        hace de forma automática sin revisión humana.
                        Recomiendo visitar la sección de "Problemas conocidos" de esta misma página de preguntas
                        frecuentes.
                    </div>
                </div>
            </div>


            <div class="accordion-item">


                <h2 class="accordion-header" id="q01JZ7TSZV0X2TVYRVN5BR80GVT">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#a01JZ7TSZV0X2TVYRVN5BR80GVT" aria-expanded="false"
                            aria-controls="a01JZ7TSZV0X2TVYRVN5BR80GVT">
                        <strong>¿Cómo se obtienen los datos? ¿Qué tecnología se usa?</strong>
                    </button>
                </h2>


                <div id="a01JZ7TSZV0X2TVYRVN5BR80GVT" class="accordion-collapse collapse"
                     aria-labelledby="q01JZ7TSZV0X2TVYRVN5BR80GVT"
                     data-bs-parent="#preguntas">
                    <div class="accordion-body">
                        <ul>
                            <li>Los datos se obtienen de los anexos oficiales publicados en SIPRI en PDF. Para ello, se
                                utiliza
                                un aplicación desarrollada en PHP / Symfony que se encarga de descargar los datos,
                                procesar las plazas y las adjudicaciones de las diferentes convocatorias.
                            </li>
                            <li>El esqueleto de la
                                aplicación es una plantilla (<code>dunglas/symfony-docker</code>) que permite ejecutar
                                un
                                entorno de
                                desarrollo en local.
                            </li>
                            <li>La aplicación además utiliza un wrapper de python de <code><a
                                        href="https://tabula.technology/">Tabula</a></code> para
                                poder extraer las tablas de los PDFs de las convocatorias.
                            </li>
                            <li>Una vez se han procesado los datos, con la librería <code>Stenope</code> se generan los
                                archivos
                                estáticos y se publican en el repositorio.
                            </li>
                            <li>En el archivo README.md existen algunas instrucciones para poder hacer build del
                                contenedor
                                y poder ejecutar los comandos
                                en la terminal para poder hacerlo funcionar en tu propio equipo.
                            </li>
                            <li>El código fuente de la aplicación está disponible en <a
                                    href="https://github.com/acardielf/sipri_analyzer"><i class="bi bi-github"></i>
                                    GitHub</a> y
                                es susceptible de ser
                                mejorado por cualquier persona interesada en el proyecto. Animo a que creen issues o
                                pull
                                requests o que contacten por si tienen alguna duda o sugerencia.
                            </li>
                        </ul>

                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="q01JZ7VG8KXR251KSM4EMK2VMP2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#a01JZ7VGG1ZKKN88ZZJBD0TFBFN" aria-expanded="false"
                            aria-controls="a01JZ7VGG1ZKKN88ZZJBD0TFBFN">
                        <strong>Información legal y protección de datos</strong>
                    </button>
                </h2>
                <div id="a01JZ7VGG1ZKKN88ZZJBD0TFBFN" class="accordion-collapse collapse"
                     aria-labelledby="q01JZ7VG8KXR251KSM4EMK2VMP2"
                     data-bs-parent="#preguntas">
                    <div class="accordion-body">
                        Este sitio web es estático, y no almacena, recoge ni procesa ningún tipo de información
                        personal.
                        En lo relativo a las ajudicaciones se omite premeditamente todo aquel dato que suponga una
                        vinculación
                        individual con datos personales de las personas adjudicatarias tal y como se puede observar en
                        el código fuente.
                        No se hace uso de cookies de ningún tipo y ni se rastrea de forma alguna su uso.
                        El creador de este sitio web es Ángel Cardiel
                        Ferrero.
                        Puedes contactar en la dirección <code>angel.cardiel@protonmail.com</code>. Los
                        datos que se
                        muestran en este sitio web han sido obtenidos de los directorios públicos de la Consejería de
                        Desarrollo Educativo y Formación Profesional de la Junta de Andalucía, accesibles a través de la
                        web de forma totalmente pública.
                        La web estática se aloja en GitHub Pages, y está sujeta a las condiciones de uso.
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="q01JZ7WXTGTAG8DW95K4ANN0CET">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#a01JZ7WXTGTAG8DW95K4ANN0CET" aria-expanded="false"
                            aria-controls="a01JZ7WXTGTAG8DW95K4ANN0CET">
                        <strong>Problemas conocidos</strong>
                    </button>
                </h2>
                <div id="a01JZ7WXTGTAG8DW95K4ANN0CET" class="accordion-collapse collapse"
                     aria-labelledby="q01JZ7WXTGTAG8DW95K4ANN0CET"
                     data-bs-parent="#preguntas">
                    <div class="accordion-body">
                        <ul>
                            <li>Existen adjudicaciones a centros "OCEP" que no aparecen en los listados finales.</li>
                            <li>La determinación de si una determinada plaza ha quedado desierta en la convocatoria o
                                no, no es siempre es precisa.
                            </li>
                        </ul>
                        En caso de detectar nuevos problemas, se irán detallando en esta sección.
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="q67900d98">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#a67900d98" aria-expanded="false" aria-controls="a67900d98">
                        <strong>¿Planes para actualizar los datos?</strong>
                    </button>
                </h2>
                <div id="a67900d98" class="accordion-collapse collapse" aria-labelledby="q67900d98"
                     data-bs-parent="#preguntas">
                    <div class="accordion-body">
                        Los datos son obtenidos de los anexos oficiales publicados en SIPRI en PDF. Por lo tanto, a
                        medida
                        que la Junta vaya publicando nuevas convocatorias, la idea es que se vayan actualizando los
                        datos. Sin embargo, esto no es algo inmediato, ya que el proceso de extracción hay que
                        lanzarlo manualmente y tampoco sabemos como se va a comportar el sistema una vez que se inicien
                        las convocatorias del nuevo curso escolar.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q01JZ9310NHKAT108RE9DQRAEWC">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#a01JZ9310NHKAT108RE9DQRAEWC" aria-expanded="false"
                            aria-controls="a01JZ9310NHKAT108RE9DQRAEWC">
                        <strong>¿Por qué he hecho esta página?</strong>
                    </button>
                </h2>
                <div id="a01JZ9310NHKAT108RE9DQRAEWC" class="accordion-collapse collapse"
                     aria-labelledby="q01JZ9310NHKAT108RE9DQRAEWC"
                     data-bs-parent="#preguntas">
                    <div class="accordion-body">
                        SIPRI es un sistema genial para la cobertura de plazas docentes en Andalucía, pero la
                        información
                        que nos ofrecen en ocasiones es muy difícil de interpretar al no estar agrupadas por
                        especialidad.
                        <br>
                        Así que, como soy interino, estoy afiliado a <a href="https://ustea.org/">USTEA</a> y me gusta la programación, decidí hacer una
                        página que no requiera
                        de
                        un servidor en ejecución para poder consultar los datos de las convocatorias, en la que poder
                        agrupar las plazas por especialidad y que permita ver de forma sencilla la información de las
                        convocatorias,
                        las posiciones en la bolsa de trabajo que van siendo llamadas durante el curso escolar, las
                        diferentes plazas que se ofertan, etc.
                        <br>
                        Estar afiliado a un sindicato es fundamental porque nos da fuerzas y herramientas para
                        defender la escuela pública. No se trata únicamente de mejorar nuestras condiciones laborales, sino de
                        luchar por una educación gratuita, inclusiva y de calidad para todos y todas. Busca el que mejor
                        represente tus intereses e ideales y únete a la lucha de la educación pública.
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="q01JZ92S87Y3V3RES2MCYMC98WM">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#a01JZ92S87Y3V3RES2MCYMC98WM" aria-expanded="false"
                            aria-controls="a01JZ92S87Y3V3RES2MCYMC98WM">
                        <strong>He encontrado un problema, imprecisión o tengo alguna sugerencia</strong>
                    </button>
                </h2>
                <div id="a01JZ92S87Y3V3RES2MCYMC98WM" class="accordion-collapse collapse"
                     aria-labelledby="q01JZ92S87Y3V3RES2MCYMC98WM"
                     data-bs-parent="#preguntas">
                    <div class="accordion-body">
                        Puedes contactar en la dirección <code>angel.cardiel@protonmail.com</code>.
                        Además, el código fuente de la aplicación está disponible en <a
                            href="https://github.com/acardielf/sipri_analyzer"><i class="bi bi-github"></i> GitHub</a> y
                        es susceptible de ser
                        mejorado por cualquier persona interesada en el proyecto. Animo a que creen issues o pull
                        requests o que contacten por si tienen alguna duda o sugerencia.
                    </div>

                </div>
            </div>


        </div>
    </div>


{% endblock %}
