<footer class="bg-light text-center py-3 mt-auto">
    <div class="container">
        <small>
            <i class="bi bi-exclamation-triangle-fill"></i> Los datos aquí reflejados son el resultado de un
            procesamiento automático sobre las convocatorias públicas del Sistema de Provisión de Interinidades de la
            Consejería de Desarrollo Educativo y Formación Profesional. Nada de lo aquí mostrado es información oficial,
            ni debe entenderse como tal. Se enfatiza en que <strong>puede incluir errores o imperfecciones</strong>.

            <br>Lea las <a href="{{ path("app_faq") }}">preguntas frecuentes</a> para más información |
            Datos actualizados a: {{ "now"|date("d/m/Y") }}

        </small>
    </div>
</footer>
