{% block header %}
    <a href="{{ path('app_index') }}" class="h1 fw-bold text-decoration-none">
        <i class="bi bi-bar-chart-fill"></i>
        <span>SIPRI Analyzer</span>
    </a>
{% endblock %}
