{% block header %}

    <header class="mb-auto">
        <div>
            <h1 class="float-md-start mb-0">
                <a href="{{ path('app_index') }}" class="fw-bold text-black text-decoration-none">
                    <i class="bi bi-bar-chart-fill"></i>
                    <span>SIPRI Analyzer</span>
                </a>
            </h1>
        </div>
    </header>
{% endblock %}
