{% extends 'base.html.twig' %}

{% block title %}SIPRI Analyzer{% endblock %}
{% block header %}{% endblock %}

{% block body %}

    <div class="text-center">
        <h1 class="mb-0 p-5">
            <a href="{{ path('app_index') }}" class="fw-bold text-black text-decoration-none">
                <i class="bi bi-bar-chart-fill"></i>
                <span>SIPRI Analyzer</span>
            </a>
        </h1>

        <p class="lead container pt-5">

            Esta página pretende recoger de forma organizada los datos acumulados del Sistema de Provisión de
            Interinidades de la Consejería de Desarrollo Educativo y Formación Profesional de la Junta de Andalucía para
            su consulta. <br>Recoge, por tanto, el histórico de datos de las convocatorias de interinidades desde el curso
            2018/2019, así como las sustituciones y vacantes sobrevenidas desde el inicio del curso escolar hasta su
            finalización.

        </p>
        <p class="lead p-5">
            <a href="{{ path('app_lista_cuerpos') }}" class="btn btn-lg btn-secondary fw-bold ">Listado
                cuerpos y especialidades</a>
        </p>
        <p class="lead">
        <div class="alert alert-secondary" role="alert">Datos actualizados a: {{ "now"|date("d/m/Y") }}</div>
        </p>
    </div>


{% endblock %}
