<span>
    Es imposible saber cuántas plazas se van a ofertar en cada curso, pero sí se puede ver el número de plazas que se han ido adjudicando en los cursos anteriores y en qué momento se han adjudicado.
    Por eso aquí se muestran de forma ordenada las posiciones en la bolsa que se han ido adjudicando y cuándo se han producido esas adjudicaciones. Se incluyen la de los 3 últimos cursos.

</span>

<hr>

<ul class="nav nav-pills mb-3" id="currar-cursos-tab" role="tablist">
    <li class="nav-item">
        <button class="nav-link active" id="currar-curso-main-tab" data-bs-toggle="pill" data-bs-target="#currar-curso-main"
                type="button" role="tab" aria-controls="currar-curso-main" aria-selected="true">
            <i class="bi bi-align-start"></i> {{ cursoLast.nombre }}
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="currar-curso-previous1-tab" data-bs-toggle="pill" data-bs-target="#currar-curso-previous1"
                type="button" role="tab" aria-controls="currar-curso-previous1" aria-selected="false">
            <i class="bi bi-align-middle"></i> {{ cursoPrevio1.nombre }}
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link " id="currar-curso-previous2-tab" data-bs-toggle="pill" data-bs-target="#currar-curso-previous2"
                type="button" role="tab" aria-controls="currar-curso-previous2" aria-selected="false">
            <i class="bi bi-align-end"></i> {{ cursoPrevio2.nombre }}
        </button>
    </li>
</ul>
<hr>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="currar-curso-main" role="tabpanel" aria-labelledby="currar-curso-main-tab"
         tabindex="0">
        {% include 'especialidades/_curso_tab2_content.html.twig' with {'listaAdjudicaciones': adjudicaciones }  %}
    </div>
    <div class="tab-pane fade" id="currar-curso-previous1" role="tabpanel" aria-labelledby="currar-curso-previous1-tab" tabindex="0">
        {% include 'especialidades/_curso_tab2_content.html.twig' with {'listaAdjudicaciones': adjudicaciones_previo1 }  %}
    </div>
    <div class="tab-pane fade" id="currar-curso-previous2" role="tabpanel" aria-labelledby="currar-curso-previous2-tab"
         tabindex="0">
        {% include 'especialidades/_curso_tab2_content.html.twig' with {'listaAdjudicaciones': adjudicaciones_previo2 }  %}
    </div>
</div>
