{% extends 'base.html.twig' %}


{% block title %}{{ especialidad.id }} - {{ especialidad.nombre }}{% endblock %}

{% block body %}
    <h2>Especialidad: <strong>{{ especialidad.id }} - {{ especialidad.nombre }}</strong></h2>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <button class="nav-link active" id="pills-one-tab" data-bs-toggle="pill" data-bs-target="#pills-one"
                    type="button" role="tab" aria-controls="pills-one" aria-selected="true">
                <i class="bi bi-file-spreadsheet-fill"></i> Tabla de plazas
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="pills-two-tab" data-bs-toggle="pill" data-bs-target="#pills-two"
                    type="button" role="tab" aria-controls="pills-two" aria-selected="false">
                <i class="bi bi-patch-question-fill"></i> ¿Cuándo voy a currar?
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="pills-three-tab" data-bs-toggle="pill" data-bs-target="#pills-three"
                    type="button" role="tab" aria-controls="pills-three" aria-selected="false">
                <i class="bi bi-graph-up-arrow"></i> Gráfico de evolución
            </button>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab"
             tabindex="0">
            {% include 'especialidades/_curso_tab1.html.twig' %}
        </div>
        <div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab" tabindex="0">
            {% include 'especialidades/_curso_tab2.html.twig' %}
        </div>
        <div class="tab-pane fade" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab"
             tabindex="0">{% include 'especialidades/_curso_tab3.html.twig' %}</div>
    </div>


{% endblock %}
