{% extends 'base.html.twig' %}


{% block title %}Especialidades{% endblock %}

{% block body %}
    <h2>Especialidades</h2>

    <table class="table table-striped">
        <tr>
            <th>Código</th>
            <th>Especialidad</th>
        </tr>
        {% for especialidad in especialidades %}
            <tr>
                <td class="font-monospace">
                    <a class="badge text-bg-primary text-decoration-none" href="{{ path('app_especialidad_index', { especialidad: especialidad.id } ) }}">{{ especialidad.id }}</a>
                </td>
                <td>
                    {{ especialidad.nombre }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
