{% extends 'base.html.twig' %}


{% block title %}Especialidades{% endblock %}

{% block body %}
    <h2>Especialidades</h2>


    <div class="row">


    {% for especialidad in especialidades %}
        <div class="col-md-4 p-2">
        <table>
            <tr>
                <td class="font-monospace">
                    <a class="badge text-bg-primary text-decoration-none"
                       href="{{ path('app_especialidad_index', { especialidad: especialidad.id } ) }}">{{ especialidad.id }}</a>
                </td>
                <td>
                    <a class="text-decoration-none text-black" href="{{ path('app_especialidad_index', { especialidad: especialidad.id } ) }}">{{ especialidad.nombre }}</a>
                </td>
            </tr>
        </table>
        </div>
    {% endfor %}
    </div>


{% endblock %}
